A simple way of looking at any character's dialogue. Just change the character name below. Press `Shift+Enter` to execute each cell.

In [1]:
import pandas as pd

In [2]:
# so we can see the entire dataframe at once
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

In [4]:
path_to_file = '../../data/origins/csv/cleaned/t_dialogue_clean.csv'
df = pd.read_csv(path_to_file)

### Put in character name you want to search for:
needs to have quotes around the name; case sensitive

In [5]:
#e.g. name = 'Flemeth'
name = 'NAME_GOES_HERE'

In [6]:
# everything below this line can stay the same
df2 = df.loc[df['Speaker'] == '{}'.format(name)]
df2 = df2[['Speaker', 'VoiceOverComment', 'Text']]
df2

Empty DataFrame
Columns: [Speaker, VoiceOverComment, Text]
Index: []